@{
    ViewData["Title"] = "Wedding List";
}
<div class="container">
    <div class="text-center">
        <h1>Wlecome to the Wedding Planner</h1>
        <a href="">Log Out</a>
    </div>
</div>
<div class="container"></div>
<div class="container">
    <a href=""><button class="btn btn-primary">New Wedding</button></a>
</div>